<h1>Akinator</h1>
<p>play with me</p>

<%= Time.now.strftime("%d/%m/%Y") %>
<% if false %>
 <%= date_today %>
 <% end %>
 <%= link_to("Mon blog", pages_blog_path, method: :get) %>
 <p>pense à quelqu'un</P>
 <%= link_to("commencer à jouer",games_path, method: :post, class: "btn btn-warning" )%>


