<h1>Games#edit</h1>
<p>Find me in app/views/games/edit.html.erb</p>
<%= @question %>
<%= link_to "oui", game_path(params["id"], answer: "yes"), method: :path %>
<%= link_to "non", game_path(params["id"], answer: "no"), method: :path %>