<h1>Games#edit</h1>
<p>Find me in app/views/games/edit.html.erb</p>
<%= link_to("Oui !", game_path(1), method: :put, class: "btn btn-warning")%>
<%= link_to("Non !", game_path(1), method: :put, class: "btn btn-warning")%>
