body  {
color:black;
background-color:white;
background-image: url("mario.jpeg");
margin:40px;
text-align: center;
padding-top: 100px;


.header 
{
	display: flex;

}

.bloc-rien {
	text-align: center;
	margin-top: 60px;
	background-color: #808080;
	padding: 30px;
	border-radius:5px;
}


}
 
